body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

.main-header {
    height: 70px;
    background-color: #313131;
    display: flex;
    justify-content: space-between;
}

.main-header__brand {
    width: 27px;
    height: 27px;
    margin-left: 27px;
    margin-right: 27px;
}

.main-header__part1,
.main-header__part2,
.main-header__part2 ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-header__part1 {
    justify-content: space-between;
}

.main-header__part2 ul li {
    list-style-type: none;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 35px;
    padding-right: 35px;
}

.main-header__part2 ul li a {
    color: #FFF;
    text-decoration: none;
}

.main-header__part2 ul li a:hover {
    color: #14B9D5;
}

.name {
    font-size: 22px;
    color: #FFF;
    font-weight: bold;
}

.main-header__part3 {
    width: 68px;
    background-color: #000;
    position: relative;
}

.search-icon {
    padding: 26px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
}

.news {
    background-image: url(/images/header-background.png);
    height: 369px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-attachment: fixed;
}

.news__title {
    text-transform: uppercase;
    color: #FFF;
    font-size: 27px;
    font-weight: bold;
    margin: 0;
    line-height: 37px;
    padding-top: 85px;
}

.news button:nth-child(1) {
    background-color: #89CA62;
}

.news button:nth-child(2) {
    background-color: #14B9D5;
}

.news button {
    width: 170px;
    height: 55px;
    text-transform: capitalize;
    color: #FFF;
    font-size: 18px;
    border-radius: 0.65ch;
    border: 0;
    margin: 10px;
}

.btn-container {
    display: flex;
    margin-top: 40px
}

.btn-container button {
    cursor: pointer;
}

.news button:active {
    transform: scale(1.1);
}

.news button:hover {
    color: chocolate;
}

.posts__title {
    text-transform: uppercase;
    font-weight: 700;
    color: #18B4CF;
    padding: 20px 0;
    margin-top: 0;
    padding-top: 40px;
    text-align: center;
}

.posts {
    background-color: #F2F2F2;
    padding-bottom: 80px;
}

.posts__container {
    display: flex;
    justify-content: space-between;
    padding-right: 255px;
    padding-left: 255px
}

.push-me-down {
    margin-top: 25px;
}

.post {
    width: 370px;
    background-color: #FFF;
    flex: auto;
}

.post div {
    display: flex;
    justify-content: center;
}

.post p {
    font-size: 18px;
    font-weight: 700;
    margin-top: 7px
}

.clients {
    background-image: url(/images/Layer41.png);
    height: 590px;
    text-align: center;
    background-size: cover; 
    background-attachment: fixed;
}

.clients h2 {
    text-transform: uppercase;
    color: #FFF;
    padding: 100px 0;
    margin-top: 0;
}

.clients h2::after {
    display: block;
    content: "";
    border-top: 3px solid #18B4CF;
    width: 60px;
    margin: auto;
    margin-top: 100px;
}

.clients-grid {
    width: 800px;
    display: grid;
    margin-right: auto;
    margin-left: auto;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
}

.clients-grid img {
    justify-self: center;
    padding-right: 30px;
    padding-left: 30px;
} 

.top-rated h2,
.hot-news h2 {
    text-transform: uppercase;
    text-align: center;
    color: #18B4CF;
    font-weight: 700;
}

.top-rated__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.top-rated__container img {
    width: 100%;
}

.hot-news {
    margin-bottom: 71px;
}

.hot-news__container {
    display: grid;
    grid-template-areas:
    "news1 news1 news1 news2"
    "news3 news3 news4 news4"
    "news5 news5 news6 news6"
    "news7 news8 news8 news8";
    grid-gap: 30px;
    align-items: center;
    width: 1180px;
    margin: 0 auto;
}

.hot-news__container__item {
    background-color: #F9F7F7;
    text-align: right;
}

.hot-news__container__item__description {
    padding-right: 15px;
}

.hot-news__text {
    color: #5B6469;
    line-height: 150%;
}

.news1 {
    grid-area: news1;
    display: grid;
    grid-template-columns: 483px 373px;
    width: 856px;
    align-self: start;
}

.news2 {
    grid-area: news2;
    width: 277px;
    /* justify-self: end; */
}

.news3 {
    grid-area: news3;
    width: 554px;
}

.news4 {
    grid-area: news4;
    width: 554px;
    justify-self: end;
}

.news5 {
    grid-area: news5;
    width: 554px;
}

.news6 {
    grid-area: news6;
    width: 554px;
    justify-self: end;
}

.news7 {
    grid-area: news7;
    width: 277px;
}

.news8 {
    display: grid;
    grid-area: news8;
    grid-template-columns: 483px 373px;
    width: 856px;
    justify-self: end;
    align-self: end;
}

.news1 div,
.news8 div {
    text-align: end;
    padding-right: 15px;
    margin-left:15px;
}

.news2 h4,
.news7 h4 {
    margin: 18px auto;
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding-top: 15px;
    padding-bottom: 15px;
}

footer p {
    color: #FFF;
    margin: 0;
}

.copyright {
    display: flex;
    align-items: flex-start;
    padding-top: 10px;
}
